#info{
    background: #555;
    margin: 10px;
    padding: 20px;
    width: 90%;
 }
 
 #warning {
    color: #f55;
 }
 
 #ws-waveform {
    background: black;
    width: 90%;
    justify-content: center; 
    margin: 10px;
    border: 2px solid white; 
 }
 #ws-spectorogram {
    background: black;
    width: 90%;
    justify-content: center; 
    margin: 10px;
    border: 2px solid white; 
 }
 
 #record_button, #classify_button, #play_button {
    font-size: 40;
    color: black;
    margin: 5px;
 }
 
 .progress{
   max-width: 90%;
   margin: 5px;
 }
 
 #top-label {
    font-size: 20;
    font-family: Helvetica-Neue, sans-serif;
 }
 
 .grid-container {
   display: inline-grid;
   grid-template-columns: auto auto auto;
   background-color: white;
   padding: 2px;
    margin: 10px;
    width: 90%;
 }
 
 .grid-item {
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    background: black;
    justify-content: center; 
    border: 0px solid white; 
 }
 
 html,
 body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 80%;
 
   background-color: #333;
   color: white; 
 }
 
 #initialization {
    margin: 10px;
    valign: center;
 }
 