button {
   outline: none;
   padding: 0px;
   border: none;
   color: #FFF;
   border-radius: 4px;

}
#start_button {
   background-color: #4589F4;
}
.record_btn_wrap {
   width: 90%;
   margin: 0 auto;
   display: flex;
   align-items: center;
}
.record_btn_wrap p {
   margin-left: 20px;
}
.info{
    background: rgba(255, 255, 255, 0.08);
    margin: 30px auto 10px;
    border: 1px solid #FFF;
    border-radius: 9px;
    padding: 0 20px 30px;
    width: 90%;
 }
 .progress_out_wrap {
    margin: 0 auto;
    width: 90%;
    padding: 0 20px;
 }
 .progress_in_wrap {
   margin: 0 -20px;
 }
#progressbar-record {
   border-radius: 9px;
   max-width: 100%;
   width: 6%;
   height: 4px;
   background: linear-gradient(to right,#FF7877,#4589F4);
}
.grid_wrap {
   margin: 0 auto;
   width: 90%;
   border: 1px solid #FFF;
   border-radius: 9px;
   padding: 20px;
   background: rgba(255, 255, 255, 0.08);
}
.last_info {
   padding-top: 20px;
}
.app {
   display: none;
}

 #warning {
    color: #FF7877;
 }
 
 #ws-waveform {
    background: rgba(255, 255, 255, 0.08);
    width: 90%;
    padding: 0 20px;
    justify-content: center; 
    margin: 10px auto 20px;
    border: 1px solid #4589F4; 
    border-radius: 9px;
 }
 #ws-spectorogram {
    /* background: black; */
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 9px;
    width: 90%;
    justify-content: center; 
    margin: 10px auto 30px;
    padding: 0 20px;
    border: 2px solid white; 
 }
 
 #record_button, #classify_button, #play_button {
    font-size: 40;
    color: #FFF;
    background-color: #FF7877;
 }
 #classify_button {
    margin-bottom: 20px;
 }
 .progress{
   max-width: 90%;
 }
 
 #top-label {
    font-size: 20;
    font-family: Helvetica-Neue, sans-serif;
 }
 
 .grid-container {
   border-radius: 9px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
 }
 
 .grid-item {
    /* border: 2px solid rgba(255, 255, 255, 0.8); */
    padding: 10px;
    width: 31%;
    text-align: center;
    justify-content: center; 
    border: 0px solid white; 
    margin-bottom: 20px;
 }
 
 html,
 body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 80%;
 
   background-color: #1B1C2A;
   color: white; 
 }
 
 #initialization {
    margin: 10px;
    valign: center;
 }
 #ws-spectorogram canvas {
   width: 100% !important;
   height: 100% !important;
 }
 .grid-item canvas {
   width: 100% !important;
 }
 .wavesurfer-region {
    width: 100% !important;
 }
 .grid-item>wave>wave:first-child {
   width: 100% !important;
 }
 /* #ws-waveform canvas{
   width: 100% !important;
 }
 #waveform>wave:first-child>wave:first-child {
    width: 100% !important;
 } */
 